@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
      --main-color: #24caac;
      --color-1: #eaa023;
      --color-2: #e91e63;
      --shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      --bg-black-900: #000000;
      --bg-black-100: #dddddd;
      --bg-black-50: #eff0f4;
      --bg-opacity: rgba(255, 255, 255, 0.5);
      --text-black-900: #000000;
      --text-black-700: #555555;
      --text-black-600: #666666;
      --text-black-300: #bbbbbb;
      --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
      --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
      --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
      --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
/* ------------------Dark Theme-------------- */
body.dark {
      --bg-black-900: #ffffff;
      --bg-black-100: #353535;
      --bg-black-50: #2b2c2f;
      --bg-opacity: rgba(43, 44, 47, 0.5);
      --text-black-900: #ffffff;
      --text-black-700: #ffffff;
      --text-black-600: #666666;
      --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
      --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
      --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
      --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}

.home-text span {
      font-size: 60px;
      color: #dc3545;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
}
.live,
.fs-1,
.btn,
.fs-4,
.fs-5,
.text-muted,
.section-title {
      font-family: "Poppins", sans-serif;
}
.day-night {
      position: fixed;
      right: 0;
      top: 100px;
      padding: 20px;
      z-index: 101;
      border-radius: 50%;
      transition: all 0.3s ease;
}

/* what id do */

.why-us-item {
      width: calc((100% / 3) - 30px);
      margin: 0 15px 30px;
      padding: 30px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      box-shadow: var(--shadow);
}
.why-us-item::before,
.why-us-item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: -1;
      transition: all 0.5s ease;
}
.why-us-item:hover::before {
      transform: scale(1, 0);
}
.why-us-item:hover::after {
      transform: scale(0, 1);
}
.why-us-item:nth-child(1) {
      background-color: var(--color-1);
}
.why-us-item:nth-child(2) {
      background-color: var(--color-2);
}
.why-us-item:nth-child(3) {
      background-color: var(--main-color);
}
.why-us-item .icon {
      font-size: 30px;
      color: var(--main-color);
      margin: 0 0 10px;
      transition: all 0.5s ease;
}
.why-us-item:hover .icon {
      color: var(--white-900);
}
.why-us-item h3 {
      color: var(--white-900);
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0 0 10px;
}
